
    <mat-card class="example-card">
        <mat-card-subtitle>Dog Breed <strong> {{ posts.id }}</strong></mat-card-subtitle>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-content>
          <p>{{posts.title}}</p>
          <p>{{ posts.body }}</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-raised-button color="primary">LIKE</button>
          <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
      </mat-card>      
